[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loki-api-client = {editable = true, path = "."}

[dev-packages]
tox = "*"
sphinx = "*"

[requires]
python_version = "3.8"
